# Please declare owners for this repo - adjust and merge this PR
# Manual: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
# Our teams: https://github.com/orgs/Nobi-BV/teams
